.subnav {
    width: 100%;
    height: 6vh;
}
.action {
    height: 100%;
    width: 200px;
    margin-left: 15rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.addIcon {
    font-size: 2px;
    height: 30px;
    width: 30px;
    fill: rgb(40, 160, 182);
    margin-right: 12px;
}