.SubSideBars {
    width: 15vw;
    height: 100%;
    border-top: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}
.SubSideBars h4 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d3d3d3;
}
.subsidebar-link {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.active {
    background-color: #ebeff3;
}
.dot {
    width: 20px;
    height: 20px;
    margin: 0 16px;
    border-radius: 50%;
    background-color: #00a4bd;
}
